<select id="currency" name="currency" class="form-select" required>
    <option value="" disabled selected>{{ _('Devise') }}</option>
    <option value="USD">{{ _('USD') }}</option>
    <option value="EUR">{{ _('EUR') }}</option>
    <option value="GBP">{{ _('GBP') }}</option>
    <option value="JPY">{{ _('JPY') }}</option>
    <option value="AUD">{{ _('AUD') }}</option>
    <option value="CAD">{{ _('CAD') }}</option>
    <option value="CHF">{{ _('CHF') }}</option>
    <option value="CNY">{{ _('CNY') }}</option>
    <option value="INR">{{ _('INR') }}</option>
    <option value="BRL">{{ _('BRL') }}</option>
    <option value="RUB">{{ _('RUB') }}</option>
    <option value="ZAR">{{ _('ZAR') }}</option>
    <option value="MXN">{{ _('MXN') }}</option>
    <option value="HKD">{{ _('HKD') }}</option>
    <option value="SGD">{{ _('SGD') }}</option>
    <option value="NOK">{{ _('NOK') }}</option>
    <option value="SEK">{{ _('SEK') }}</option>
    <option value="NZD">{{ _('NZD') }}</option>
    <option value="KRW">{{ _('KRW') }}</option>
    <option value="TRY">{{ _('TRY') }}</option>
    <option value="IDR">{{ _('IDR') }}</option>
    <option value="THB">{{ _('THB') }}</option>
    <option value="MYR">{{ _('MYR') }}</option>
    <option value="PLN">{{ _('PLN') }}</option>
    <option value="CZK">{{ _('CZK') }}</option>
    <option value="HUF">{{ _('HUF') }}</option>
    <option value="ILS">{{ _('ILS') }}</option>
    <option value="PHP">{{ _('PHP') }}</option>
    <option value="AED">{{ _('AED') }}</option>
    <option value="SAR">{{ _('SAR') }}</option>
    <option value="PKR">{{ _('PKR') }}</option>
    <option value="EGP">{{ _('EGP') }}</option>
    <option value="NGN">{{ _('NGN') }}</option>
    <option value="VND">{{ _('VND') }}</option>
    <option value="XOF">{{ _('XOF') }}</option>
    <option value="XAF">{{ _('XAF') }}</option>
    <option value="KES">{{ _('KES') }}</option>
    <option value="GHS">{{ _('GHS') }}</option>
    <option value="TZS">{{ _('TZS') }}</option>
    <option value="UGX">{{ _('UGX') }}</option>
    <option value="MGA">{{ _('MGA') }}</option>
    <option value="BWP">{{ _('BWP') }}</option>
    <option value="ETB">{{ _('ETB') }}</option>
    <option value="DZD">{{ _('DZD') }}</option>
    <option value="MAD">{{ _('MAD') }}</option>
</select>