{% extends 'auth/layout.html' %}
{% block title %}{{ _('Sailsmakr : Nouveau mot de passe') }}{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">{{ _('Nouveau mot de passe') }}</h1>
    <p class="text-slate-500">{{ _('Veuillez définir un nouveau mot de passe pour accéder à votre compte.') }}</p>

    <form action="{{ reset_url }}" method="POST" class="my-10">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <div class="flash-message {% if category == 'error' %}bg-red-100 border-red-500 text-red-900{% elif category == 'success' %}bg-green-100 border-green-500 text-green-900{% elif category == 'warning' %}bg-yellow-100 border-yellow-500 text-yellow-900{% else %}bg-teal-100 border-teal-500 text-teal-900{% endif %} rounded-b px-4 py-3 shadow-md" my-2 role="alert">
                    <div class="flex">
                        <div>
                            <svg class="fill-current h-6 w-6 {% if category == 'error' %}text-red-500{% elif category == 'success' %}text-green-500{% elif category == 'warning' %}text-yellow-500{% else %}text-teal-500{% endif %} mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm">{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="flex flex-col space-y-5">
            <label for="password">
                <p class="font-medium text-slate-700 pb-2">{{ _('Nouveau mot de passe') }}</p>
                <input id="password" name="password" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="{{ _('Entrez votre nouveau mot de passe') }}">
            </label>
            <label for="password">
                <p class="font-medium text-slate-700 pb-2">{{ _('Confirmer mot de passe') }}</p>
                <input id="confirm_password" name="confirm_password" type="password" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="{{ _('Confirmer votre nouveau mot de passe') }}">
            </label>

           
            <button class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                <span>{{ _('Continuer') }}</span>
            </button>
            <p class="text-center">{{ _('Votre lien a expiré ?') }} <a href="{{ url_for('auth.reset_password') }}" class="text-indigo-600 font-medium inline-flex space-x-1 items-center"><span>{{ _('Redemandez un nouveau') }}
                </span></a></p>
        </div>
    </form>
</div>
{% endblock %}
