{% extends 'auth/layout.html' %}
{% block title %}{{ _('Sailsmakr : Réinitialiser votre mot de passe') }}{% endblock %}    
{% block content %}
<div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <h1 class="text-4xl font-medium">{{ _('Réinitialiser le mot de passe') }}</h1>
    <p class="text-slate-500">{{ _('Remplissez le formulaire pour réinitialiser le mot de passe') }}</p>

    <form action="{{ url_for('auth.reset_password') }}" method="post" class="my-10">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <div class="flash-message {% if category == 'error' %}bg-red-100 border-red-500 text-red-900{% elif category == 'success' %}bg-green-100 border-green-500 text-green-900{% elif category == 'warning' %}bg-yellow-100 border-yellow-500 text-yellow-900{% else %}bg-teal-100 border-teal-500 text-teal-900{% endif %} rounded-b px-4 py-3 shadow-md" my-2 role="alert">
                    <div class="flex">
                        <div>
                            <svg class="fill-current h-6 w-6 {% if category == 'error' %}text-red-500{% elif category == 'success' %}text-green-500{% elif category == 'warning' %}text-yellow-500{% else %}text-teal-500{% endif %} mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="text-sm">{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="flex flex-col space-y-5">
            <label for="email">
                <p class="font-medium text-slate-700 pb-2">{{ _('Adresse e-mail') }}</p>
                <input id="email" name="email" type="email" class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow" placeholder="{{ _('Entrez votre adresse e-mail') }}">
            </label>
           
            <button class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                </svg>
                  
                <span>{{ _('Réinitialiser le mot de passe') }}</span>
            </button>
            <p class="text-center">{{ _('Pas encore inscrit ?') }} <a href="{{ url_for('main.home') }}" class="text-indigo-600 font-medium inline-flex space-x-1 items-center" target="_blank"><span>{{ _('Inscrivez-vous maintenant') }} </span><span><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg></span></a></p>
        </div>
    </form>
</div>
{% endblock %}
